

body {

	background: url('../gfx/background_768.jpg') #ffffff center top no-repeat;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	height: 100%;
	width: 100%;

}

a {

border: none;
outline: none;
text-decoration: none;

}

.container {

margin: 0px auto;
width: 768px;
position: relative;
font-size: 12px;
background: url('') no-repeat;
}

.filmy_box {

position: relative;
font-family: Lato, arial;
font-weight: 900;
font-size: 28px;
line-height: 60px;
color: #24458e;
background-color: #ffffff;
padding-top: 20px;
height: 286px;
width: 100%;
text-align: center;

}

.filmy_table {

width: 768px;
margin: 0px auto;
position: relative;
text-align: center;

}

.filmy_size {

width: 362px;
height: 194px;
background-color: #232323;

}

.filmy_table  td{

border-left: solid #ffffff 15px;
border-right: solid #ffffff 15px;

}


.pasek {

position: relative;
font-family: Lato, arial;
font-weight: 900;
font-size: 28px;
line-height: 45px;
color: #24458e;
background-color: #ebeadf;
height: 45px;
width: 100%;
text-align: center;

}



.footer_background {

position: absolute;
background-color: #24458e;
height: 67px;
width: 100%;
text-align: center;

}

.footer_container {

width: 768px;
margin: 0px auto;
position: relative;
text-align: center;

}

.stopka {


font-family: Lato, arial;
font-weight: 700;
color: #ffffff;
font-size: 20px;
margin: 18px;
text-align: right;
display: inline-block;
text-decoration: none;

}


.stopka:hover {
text-decoration: underline;
}




.ruchjow_logo {

text-align: left;
line-height: 55px;
height: 20px;
margin: 18px;
width: 112px;
background: url('../gfx/ruchjow_logo_768.png') no-repeat;
display: inline-block;

}

.ruchjow_logo:hover {

background: url('../gfx/ruchjow_logo_hover_768.png') no-repeat;

}

.content {

position: relative;
width: 768px;
padding-top: 10px;
padding-bottom: 6px;
height: 177px;
background-color: #ffffff;
text-align: center;

}

.content_font {

font-family: Lato, arial;
font-weight: 800;
font-size: 20px;
color: #403f3f;

}

.content_font_title {

font-family: Lato, arial;
font-weight: 900;
font-size: 30px;
color: #24458e;
text-align: center;

}

.stopka_table {width: 768px; background-color: #24458e;}

.stopka_table  td{

vertical-align: top;

}

.man {

width: 768px;
height: 407px;
background: url('../gfx/man_768.png') no-repeat;

}

.wplac_container {

width: 768px;
text-align: left;


} 

.wplac_button {

margin-left: 6px;
vertical-align: middle;
font-family: Lato, arial;
font-weight: 300;
font-size: 24px;
line-height: 68px;
padding-left: 60px;
width: 187px;
height: 68px;
background: url('../gfx/button_768.png') no-repeat;
color: #ffffff;
display: inline-block;

}

.wplac_button .bold {

font-weight: 900;

}

.wplac_button:hover {

background: url('../gfx/button_hover_768.png') no-repeat;

}

.wplac_button2 {

margin-left: 6px;
vertical-align: middle;
font-family: Lato, arial;
font-weight: 300;
font-size: 24px;
line-height: 34px;
padding-left: 60px;
width: 187px;
height: 68px;
background: url('../gfx/button2_768.png') no-repeat;
color: #ffffff;
display: inline-block;

}

.wplac_button2 .bold {

font-weight: 900;

}

.wplac_button2:hover {

background: url('../gfx/button2_hover_768.png') no-repeat;

}

.button_oczy {

position: relative;
left: 152px;
top: 17px;
font-family: Lato, arial;
font-weight: 900;
font-size: 18px;
line-height: 61px;
text-align: left;
padding-left: 10px;
width: 138px;
height: 61px;
background: url('../gfx/button_oczy_768.png') no-repeat;
color: #ffffff;
display: inline-block;

}

.button_oczy:hover {

background: url('../gfx/button_oczy_hover_768.png') no-repeat;

}

.button_rece {

position: relative;
left: -61px;
top: 111px;
font-family: Lato, arial;
font-weight: 900;
font-size: 18px;
line-height: 61px;
text-align: left;
padding-left: 10px;
width: 138px;
height: 61px;
background: url('../gfx/button_rece_768.png') no-repeat;
color: #ffffff;
display: inline-block;

}

.button_rece:hover {

background: url('../gfx/button_rece_hover_768.png') no-repeat;

}

.button_verte {

position: relative;
left: -211px;
top: 203px;
font-family: Lato, arial;
font-weight: 900;
font-size: 18px;
line-height: 62px;
text-align: left;
padding-left: 10px;
width: 147px;
height: 62px;
background: url('../gfx/button_verte_768.png') no-repeat;
color: #ffffff;
display: inline-block;

}

.button_verte:hover {

background: url('../gfx/button_verte_hover_768.png') no-repeat;

}

.button_nogi {

position: relative;
left: 26px;
top: 286px;
font-family: Lato, arial;
font-weight: 900;
font-size: 18px;
line-height: 61px;
text-align: left;
padding-left: 10px;
width: 138px;
height: 61px;
background: url('../gfx/button_nogi_768.png') no-repeat;
color: #ffffff;
display: inline-block;

}

.button_nogi:hover {

background: url('../gfx/button_nogi_hover_768.png') no-repeat;

}

.button_brzuch {

position: relative;
left: 479px;
top: 103px;
font-family: Lato, arial;
font-weight: 900;
font-size: 18px;
line-height: 62px;
text-align: left;
padding-left: 14px;
width: 170px;
height: 62px;
background: url('../gfx/button_brzuch_768.png') no-repeat;
color: #ffffff;
display: inline-block;

}

.button_brzuch:hover {

background: url('../gfx/button_brzuch_hover_768.png') no-repeat;

}

.button_usta {

position: relative;
left: 281px;
top: -27px;
font-family: Lato, arial;
font-weight: 900;
font-size: 18px;
line-height: 61px;
text-align: left;
padding-left: 12px;
width: 140px;
height: 61px;
background: url('../gfx/button_usta_768.png') no-repeat;
color: #ffffff;
display: inline-block;

}

.button_usta:hover {

background: url('../gfx/button_usta_hover_768.png') no-repeat;

}

.button_final {

position: relative;
left: -288px;
top: 227px;
font-family: Lato, arial;
font-weight: 900;
font-size: 12px;
line-height: 18px;
text-align: left;
padding-top: 10px;
padding-left: 20px;
width: 176px;
height: 52px;
background: url('../gfx/button_final_768.png') no-repeat;
color: #ffffff;
display: inline-block;

}

.button_final:hover {

background: url('../gfx/button_final_hover_768.png') no-repeat;

}

.button_premiera {

position: relative;
left: -288px;
top: 227px;
font-family: Lato, arial;
font-weight: 900;
font-size: 12px;
line-height: 18px;
text-align: left;
padding-top: 10px;
padding-left: 20px;
width: 192px;
height: 62px;
background: url('../gfx/button_premiera_768.png') no-repeat;
color: #ffffff;
display: inline-block;

}

.button_premiera:hover {

background: url('../gfx/button_premiera_hover_768.png') no-repeat;

}



.oczy {

position: relative;
left: 152px;
top: 17px;
font-family: Lato, arial;
font-weight: 900;
font-size: 18px;
line-height: 61px;
text-align: left;
padding-left: 10px;
width: 138px;
height: 61px;
background: url('../gfx/button_oczy_768.png') no-repeat;
color: #ffffff;
display: inline-block;

}



.rece {

position: relative;
left: -61px;
top: 111px;
font-family: Lato, arial;
font-weight: 900;
font-size: 18px;
line-height: 61px;
text-align: left;
padding-left: 10px;
width: 138px;
height: 61px;
background: url('../gfx/button_rece_768.png') no-repeat;
color: #ffffff;
display: inline-block;

}



.verte {

position: relative;
left: -211px;
top: 203px;
font-family: Lato, arial;
font-weight: 900;
font-size: 18px;
line-height: 62px;
text-align: left;
padding-left: 10px;
width: 147px;
height: 62px;
background: url('../gfx/button_verte_768.png') no-repeat;
color: #ffffff;
display: inline-block;

}



.nogi {

position: relative;
left: 26px;
top: 286px;
font-family: Lato, arial;
font-weight: 900;
font-size: 18px;
line-height: 61px;
text-align: left;
padding-left: 10px;
width: 138px;
height: 61px;
background: url('../gfx/button_nogi_768.png') no-repeat;
color: #ffffff;
display: inline-block;

}



.brzuch {

position: relative;
left: 479px;
top: 103px;
font-family: Lato, arial;
font-weight: 900;
font-size: 18px;
line-height: 62px;
text-align: left;
padding-left: 14px;
width: 170px;
height: 62px;
background: url('../gfx/button_brzuch_768.png') no-repeat;
color: #ffffff;
display: inline-block;

}

.usta {

position: relative;
left: 281px;
top: -27px;
font-family: Lato, arial;
font-weight: 900;
font-size: 18px;
line-height: 61px;
text-align: left;
padding-left: 12px;
width: 140px;
height: 61px;
background: url('../gfx/button_usta_768.png') no-repeat;
color: #ffffff;
display: inline-block;

}

.premiera {

position: relative;
left: -304px;
top: 227px;
font-family: Lato, arial;
font-weight: 900;
font-size: 12px;
line-height: 18px;
text-align: left;
padding-top: 10px;
padding-left: 20px;
width: 192px;
height: 62px;
background: url('../gfx/button_premiera_768.png') no-repeat;
color: #ffffff;
display: inline-block;

}

.oczy_wkrotce {

position: absolute;
left: 224px;
top: 54px;
width: 64px;
height: 64px;
background: url('../gfx/premiera_wkrotce_768.png') no-repeat;
color: #ffffff;
display: inline-block;
z-index: 2;

}

.verte_wkrotce {

position: absolute;
left: 172px;
top: 238px;
width: 64px;
height: 64px;
background: url('../gfx/premiera_wkrotce_768.png') no-repeat;
color: #ffffff;
display: inline-block;
z-index: 2;

}

.brzuch_wkrotce {

position: absolute;
left: 620px;
top: 186px;
width: 64px;
height: 64px;
background: url('../gfx/premiera_wkrotce_768.png') no-repeat;
color: #ffffff;
display: inline-block;
z-index: 2;

}

.nogi_wkrotce {

position: absolute;
left: 600px;
top: 305px;
width: 64px;
height: 64px;
background: url('../gfx/premiera_wkrotce_768.png') no-repeat;
color: #ffffff;
display: inline-block;
z-index: 2;

}

.usta_wkrotce {

position: absolute;
left: 540px;
top: 74px;
width: 64px;
height: 64px;
background: url('../gfx/premiera_wkrotce_768.png') no-repeat;
color: #ffffff;
display: inline-block;
z-index: 2;

}

.main_title {

text-align: center;

}